.p40_200 {
  padding: 40px 200px;
}
.f3f5f9 {
  background-color: #f3f5f9;
}
.menu nav {
  background-color: #ffffff !important;
}
.menu .navbar-brand {
  margin-right: 100px;
  margin-left: 200px;
}
.menu .li_search {
  margin-left: 200px;
  margin-right: 30px;
}
.menu .b2b_portal_btn {
  background: #39C874;
  border-radius: 12px;
  color: #ffffff;
  margin-right: 50px;
}
.menu .basket_link {
  margin-right: 30px;
}
.menu .main_search_input {
  background: #F0F0F6 url("/img/main/search.png") no-repeat scroll 12px 12px;
  padding-left: 40px;
  border-radius: 12px;
}
.main_section {
  padding-left: 200px;
  padding-bottom: 40px;
  background: #F3F5F9 url("/img/main/main_bg.png") no-repeat right;
}
.main_section .main_title {
  padding-top: 200px;
  font-size: 58px;
  color: #373946;
  font-weight: 700;
}
.main_section .main_sub_title {
  color: #373946;
  font-size: 28px;
  font-weight: 500;
  padding-top: 40px;
}
.main_section .main_btn_div {
  padding-top: 100px;
  margin-bottom: 80px;
}
.main_section .main_btn_div .main_btn {
  background: #39C874;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 100px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.our_advantages_section div {
  display: inline-block;
  text-align: center;
  width: 250px;
  margin-left: 50px;
}
.our_advantages_section div span {
  display: block;
  color: #373946;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
}
.our_advantages_sec div {
  display: block;
}
.our_advantages_sec .adv__block div {
  display: inline-block;
}
.our_company {
  display: flow-root;
}
.footer {
  display: block;
}
.footer .footer_infos {
  padding: 0 300px;
}
.footer .footer_infos div {
  display: inline-block;
}
.footer .footer_infos .footer_txt {
  margin-right: 50px;
}
.footer .footer_infos .lastf {
  vertical-align: top;
  float: right;
}
.footer .footer_infos .lastf a {
  margin-left: 30px;
  text-decoration: none;
}
.d-block {
  margin: auto;
}
.carousel-control-prev-icon {
  background-image: url("/img/main/left.svg");
}
.carousel-control-next-icon {
  background-image: url("/img/main/right.svg");
}
.my_shop_btn {
  background-color: #373946 !important;
  color: #ffffff !important;
}
.main_menu {
  background-color: #ffffff;
  position: absolute;
  left: 400px;
  padding: 15px;
  height: 400px;
  width: 1200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main_menu .parentMenuListItem {
  color: #373946;
  padding: 10px 16px;
  width: 480px;
}
.main_menu .parentMenuListItem:hover {
  border: 1px solid #39C874;
  border-radius: 10px;
  cursor: pointer;
  color: #39C874;
}
.main_menu .parentMenuListItem:after {
  content: url("/img/nav/right.svg");
  float: right;
}
.main_menu .parentMenuListItem:hover > .subMenuList2 {
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
  z-index: 5000;
}
.main_menu .subMenuList2 {
  position: absolute;
  left: 500px;
  width: 350px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
  z-index: 5000;
}
.main_menu .subMenuList2 .subMenuList2_item {
  color: #373946;
  padding: 10px 16px;
}
.main_menu .subMenuList2 .subMenuList2_item:hover {
  border: 1px solid #39C874;
  border-radius: 10px;
  cursor: pointer;
  color: #39C874;
}
.main_menu .subMenuList3 {
  width: 450px;
  position: absolute;
  left: 350px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
  z-index: 5000;
}
.main_menu .subMenuList3 .subMenuList3_item {
  color: #373946;
  padding: 10px 16px;
}
.main_menu .subMenuList3 .subMenuList3_item:hover {
  border: 1px solid #39C874;
  border-radius: 10px;
  cursor: pointer;
  color: #39C874;
}
.main_menu .subMenuList2_item:hover > .subMenuList3 {
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
  z-index: 5000;
}

