.product-wrap {
    > div {
        display: inline-flex;
    }

    .product_img_carousel {
        margin-right: 20px;

        .product_slider {
            width: 500px;
            img {
                width: 500px;
            }

            .carousel-inner {
                border-radius: 10px;
            }

            .carousel-control-prev {
                top: 20px;
            }

            .carousel-control-next {
                top: 20px;
            }

            .carousel .carousel-indicators button {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #000;
            }
        }
    }

    .product_detail_info {
        position: absolute;

        .product_page_action_btns {
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            display: block;
        }

        .description_characteristics {

        }
    }
}
